.cart-card {
    display: flex;
    flex-direction: column;
  }
  
  .cart-title {
    font-size: 1.5rem;
    text-align: center;
  }
  
  .cart-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  
    &.empty {
      justify-content: center;
      align-items: center;
      min-height: 300px;
    }
  }
  
  .cart-item-container {
    width: 100%;
  }

  .empty-cart-state {
    text-align: center;
    padding: 40px 20px;
    color: #888;
  
    mat-icon {
      font-size: 48px;
      margin-bottom: 16px;
    }
  
    p {
      font-size: 16px;
      margin-bottom: 12px;
    }
  }
  
  
  /* Responsividade */
  @media (min-width: 768px) {
    .cart-content {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
    .cart-item-container {
      flex: 1 1 calc(50% - 1rem);
    }
  }
  
  @media (min-width: 1024px) {
    .cart-item-container {
      flex: 1 1 calc(33.333% - 1rem);
    }
  }
  