<div class="parent">
  <div class="product-details">
    <img
      *ngIf="cartItem.product.images?.length"
      [src]="cartItem.product.images[0]"
      (error)="fallbackImage($event)"
      height="100px"
      alt="{{ cartItem.product.name }}"
    />
    <div>
      <p class="ma-0">{{ cartItem.product.name }}</p>
      <p class="ma-0 pa-0 text-md" style="padding-top: 5px">
        {{ cartItem.product.description }}
      </p>
    </div>
  </div>

  <div class="quantity-buttons">
    <button mat-flat-button color="primary" class="qty-btn" (click)="decrement(cartItem)">-</button>
    <span>{{ cartItem.quantity }}</span>
    <button mat-flat-button color="primary" class="qty-btn" (click)="increment(cartItem)">+</button>
  </div>

  <div class="price-container">
    <p class="ma-0" style="font-weight: bold">
      {{ cartItem.product.price * cartItem.quantity | currency : 'BRL' }}
    </p>
    <p class="ma-0 pa-0 text-md" style="padding-top: 5px">
      {{ cartItem.product.price | currency : 'BRL' }}
    </p>
  </div>

  <div class="actions">
    <button mat-mini-fab aria-label="Remove Product From Cart" color="warn" (click)="onRemove()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
