<ng-container *ngIf="loading(); else content">
  <div class="loading-container">
    <mat-spinner></mat-spinner>
    <p>Carregando produtos...</p>
  </div>
</ng-container>
<ng-template #content>
  <ng-container *ngIf="produtosFiltrados.length > 0; else emptyState">
    <div class="parent">
      <mat-card *ngFor="let product of produtosFiltrados; trackByProduct: trackProduct"
        [routerLink]="['/products', product.id]">
        <div class="media-grid">
          <figure class="product-figure">
            <div *ngIf="product.status === 'sale'" class="product-badge">
              <span>Sale</span>
            </div>
            <img [src]="product.images?.[0]" height="245px" alt="{{ product.name }}" />
          </figure>
        </div>

        <mat-card-content class="pa-1">
          <div class="product-details">
            <div>
              <p class="ma-0">{{ product.name }}</p>
              <p class="ma-0 pa-0 text-md">{{ product.description }}</p>
            </div>
            <div class="mat-text-primary text-xl">

              <span *ngIf="product.discounted === 'discounted'" class="strikethrough mat-text-muted text-sm">R$ {{
                product.discount }}</span>
              <span>{{ product.price | currency: 'BRL' }}</span>
            </div>
            <div class="add-to-cart-btn">
              <button mat-icon-button color="accent" (click)="addProductToCart(product); $event.stopPropagation()"
                matTooltip="Adicionar ao carrinho">
                <mat-icon>add_shopping_cart</mat-icon>
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>
</ng-template>


<!-- EMPTY STATE -->
<ng-template #emptyState>
  <div class="empty-container" *ngIf="!loading()">
    <mat-icon class="empty-icon">inventory_2</mat-icon>
    <p>Nenhum produto encontrado nesta categoria.</p>
  </div>
</ng-template>