<mat-card class="checkout-card">
  <mat-card-title class="checkout-title">Finalizar Pedido</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="checkout-form">
      
      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>CEP</mat-label>
          <input matInput formControlName="cep" (blur)="findCep()" />
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Rua / Logradouro</mat-label>
        <input matInput formControlName="rua" required />
      </mat-form-field>

      <div class="row">
        <mat-form-field appearance="outline" class="numero">
          <mat-label>Número</mat-label>
          <input matInput formControlName="numero" required />
        </mat-form-field>

        <mat-form-field appearance="outline" class="complemento">
          <mat-label>Complemento</mat-label>
          <input matInput formControlName="complemento" />
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline" class="bairro">
          <mat-label>Bairro</mat-label>
          <input matInput formControlName="bairro" required />
        </mat-form-field>

        <mat-form-field appearance="outline" class="cidade">
          <mat-label>Cidade</mat-label>
          <input matInput formControlName="cidade" required />
        </mat-form-field>

        <mat-form-field appearance="outline" class="estado">
          <mat-label>UF</mat-label>
          <mat-select formControlName="estado" required>
            <mat-option *ngFor="let uf of estados" [value]="uf">
              {{ uf }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
      </div>

      <div class="payment-section">
        <label>Método de pagamento</label>
        <mat-radio-group formControlName="paymentMethod">
          <mat-radio-button value="credit">Cartão de Crédito</mat-radio-button>
          <mat-radio-button value="pix">PIX</mat-radio-button>
          <mat-radio-button value="boleto">Boleto</mat-radio-button>
        </mat-radio-group>
      </div>

      <button mat-raised-button color="primary" type="submit" class="confirm-btn">
        Confirmar pedido
      </button>
    </form>
  </mat-card-content>
</mat-card>
