<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="over" [class.opened]="drawer.opened" [opened]="false" class="sidenav" (closedStart)="onClose()">
    <mat-nav-list>
      <h3 class="menu-title">Navegação</h3>
      <a mat-list-item (click)="drawer.close()" routerLink="/products">
        <mat-icon class="icon-position">home</mat-icon>
        <span>Início</span>
      </a>
      <a mat-list-item (click)="drawer.close()" routerLink="/products">
        <mat-icon class="icon-position">storefront</mat-icon>
        <span>Produtos</span>
      </a>

      <mat-expansion-panel class="category-panel" hideToggle>
        <mat-expansion-panel-header>
          <mat-icon class="icon-position-category" matPrefix>category</mat-icon>
          <span>Categorias</span>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let category of categories">
          <a mat-list-item (click)="drawer.close()" [routerLink]="['/products/category', category.path]">
            {{ category.label }}
          </a>
        </ng-container>
      </mat-expansion-panel>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header (menuClick)="drawer.toggle()"></app-header>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
