@use '@angular/material' as mat;

// Tema personalizado
@include mat.elevation-classes();
@include mat.app-background();

$angular-shop-primary: mat.m2-define-palette(mat.$m2-cyan-palette, 800, 800);
$angular-shop-accent: mat.m2-define-palette(mat.$m2-teal-palette, 400);
$angular-shop-warn: mat.m2-define-palette(mat.$m2-red-palette);

$angular-shop-theme: mat.m2-define-light-theme((
  color: (
    primary: $angular-shop-primary,
    accent: $angular-shop-accent,
    warn: $angular-shop-warn,
  )
));

@include mat.all-component-themes($angular-shop-theme);

// Estilos globais essenciais
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  //background-color: #00796b;
}

// Utilitários úteis no momento
.pa-1 { padding: 1rem !important; }
.ma-0 { margin: 0 !important; }

.text-sm { font-size: 70% !important; }
.text-md { font-size: 80% !important; }
.text-xl { font-size: 120% !important; }

.mat-text-muted {
  color: rgba(0, 0, 0, 0.54) !important;
}

.mat-text-primary {
  color: #673AB7 !important;
}

// Correção para backdrop do sidenav (estilo temporário)
::ng-deep .mat-drawer-backdrop {
  display: none !important;
}

mat-sidenav {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: none;
}

mat-sidenav.opened {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.mat-drawer-content {
  overflow: visible !important;
}
